hvac control unit/.pioenvs
hvac control unit/.piolibdeps
hvac control unit/.clang_complete
hvac control unit/.gcc-flags.json
mercury.cfg
mercury.log
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
__pycache__/
